/* - Sub-Container-Main-Head & Sub-Container-Main  - */
/* ---> Aplico CSS sobre todos los elementos contenidos en la capas con indentificadores: sub-container-main-head y sub-container-main. */
#page-content-contacto,
#sub-container-main-head {
  width: 100%;
  display: grid;
  place-items: center;
}

#page-content-contacto span {
  font-weight: bold;
}

#sub-container-main-head * {
  color: white;
  text-align: center;
  padding: 1.5rem;
}

#sub-container-main-head a {
  font-size: xx-large;
}

#sub-container-main {
  width: 1200px;
  margin-top: 4rem;
}

#form-garantia-contacto * {
  margin: 0.5rem 2rem;
}

#form-contact {
  width: 100%;
  display: flex;
  justify-content: center;
}

#form-contact div {
  width: 600px;
  display: grid;
  place-items: center;
}
#form-contact div img {
  width: 450px;
}

#form-contact-subcontainer {
  width: 600px;
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    120deg,
    rgb(153, 188, 248),
    rgb(188, 174, 255)
  );
  border-radius: 1rem;
}

#form-contact-subcontainer form {
  width: 600px;
  text-align: center;
  color: white;
}
#form-contact-subcontainer form * {
  margin: 0.5rem;
}

#form-contact-subcontainer form div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#form-contact-subcontainer form input[type="text"],
#form-contact-subcontainer form input[type="email"],
#form-contact-subcontainer form input[type="tel"],
#form-contact-subcontainer form select {
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 4px;
  height: 30px;
}

#form-contact-subcontainer form input[type="checkbox"] {
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 4px;
}

#form-contact-subcontainer form input[type="submit"] {
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 4px;
  width: 300px;
  height: 30px;
}

#form-contact-subcontainer form input[type="submit"]:hover {
  background-image: linear-gradient(
    120deg,
    rgb(153, 188, 248),
    rgb(188, 174, 255)
  );
  border: 1px solid rgb(255, 255, 255);
}

/* - Sub-Container-Main-Content - */
/* --->  ---> Aplico CSS sobre todos los elementos contenidos en la capas con indentificadores: sub-container-main-content. */
#sub-container-main-content {
  width: 100%;
  display: grid;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

#sub-container-main-content * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#sub-container-main-content img {
  width: 100%;
}

#sub-container-main-content > h2 {
  text-align: center;
}

#enlaces-contacto-id {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

#enlaces-contacto-id > a {
  padding: 1rem;
  background-image: linear-gradient(
    120deg,
    rgb(153, 188, 248),
    rgb(188, 174, 255)
  );
  border-radius: 2rem;
  color: white;
}
