/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

/* Text Font */
* {
    font-family: 'Red Hat Display', sans-serif;
}

/* Body */
body {
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: black;
}

/* Container */
#container {
    margin: 0 auto;
    width: 1200px;
    background-color: black;
}

#container * {
    padding: 5px;
}

/* Header, Nav-Bar, Section && Footer */
header,
nav,
section,
footer {
    width: 1000px;
    margin: 5px auto;
}

/* Header */
header h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    color: rgb(255, 196, 0);
}

/* Nav-Bar */
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    font-size: 20px;
    color: rgb(255, 196, 0);
}

nav ul li a:hover {
    border-bottom: 5px solid rgb(255, 196, 0);
    color: white;
}

/* Section */
section {
    margin: 15px auto;
    border-top: 2px solid rgb(255, 196, 0);
    border-bottom: 2px solid rgb(255, 196, 0);
}

/* Footer */
footer h3,
footer p {
    color: rgb(255, 196, 0);
    text-align: center;
}

footer p {
    text-align: center;
}

/* Footer - Container */
#container-footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#container-footer * {
    padding: 10px;
}

#container-footer div {
    width: 30%;
    margin: 0 auto;
}

/* Footer - Container - Content */
.box img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0px auto;
}

#box-1 img:hover {
    background-color: rgb(255, 196, 0);
}

#box-2 {
    border-left: 2px solid rgb(255, 196, 0);
    border-right: 2px solid rgb(255, 196, 0);
}

#box-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#box-3 h3 {
    text-align: center;
    width: 100%;
}

#box-3 a {
    padding: 0;
    margin: 0;
}

#box-3 a img {
    height: 30px;
    width: 30px;
}

#box-3 a img:hover {
    background-color: rgb(255, 196, 0);
    border-radius: 30px;
}