/* Google - Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

/* Container */
#container {
    width: 100%;
    height: 100vh;
}

/* Container - Nav-Bar - Footer --> Background */
#container,
#dropdown-content,
#contact-box:hover>a,
#footer-column3-social-networks a img:hover {
    background-image: linear-gradient(45deg, rgb(67, 155, 255), rgb(160, 104, 251));
    background-size: 400% 400%;
}

#footer-column3-social-networks a img:hover {
    background-image: linear-gradient(45deg, rgb(67, 155, 255), rgb(160, 104, 251));
    border-radius: 15px;
    box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Container --> Background - Animation */
#container {
    animation: cambiar 10s infinite;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%;
    }
}

/* Header - Footer */
header,
footer {
    width: 100%;
    display: flex;
}

/* Logo */
#logo {
    width: 20%;
}

/* Nav-Bar */
nav {
    width: 80%;
}

nav>ul {
    overflow: hidden;
}

nav>ul>li {
    float: right;
    padding: 0.5rem;
}

nav>ul>li.item-menu>a:hover {
    box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.2);
}

nav>ul>li>a,
li>div>a {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 0.7rem 1rem;
    font-size: 1.5em;
}

#dropdown {
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: -10px 10px 16px 0px rgba(51, 37, 37, 0.6);
    z-index: 1;
}

#dropdown-content a {
    padding: 0.7rem 1rem;
    display: block;
    text-align: left;
}

#dropdown-content a:hover {
    box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.2);
}

#dropdown:hover #dropdown-content {
    display: block;
}

#contact-box a {
    background-color: white;
    border-radius: 20px;
    color: black;
}

#contact-box:hover a {
    color: white;
    box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    justify-content: center;
}

footer * {
    color: white;
}

footer>div {
    width: 30%;
    text-align: center;
    padding: 3rem 0;
}

footer>div a {
    margin: 20px;
}

footer>div>h3 {
    font-size: 1.2em;
    padding: 1rem;
}

footer>div>ul>li {
    padding: 1rem 1rem;
}

#footer-column1 a,
#footer-column3 a {
    padding: 10px;
    margin: 5px;
}

#footer-column1 a:hover,
#footer-column3>ul>li>a:hover {
    box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.2);
}

#footer-column2>p {
    padding: 1rem;
}

#footer-column3-social-networks a {
    padding: 0.7rem;
    margin: 0.2rem;
}

#footer-column3-social-networks {
    padding-top: 1.5rem;
}