/* - Google - Font - */
/* ---> Importo una fuente de Google para poder aplicárselos en los textos que contenga la página web. */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* - Universal Selector - */
/* ---> Aplico un CSS por defecto para todas las etiquetas. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}

/* - Color - */
/* ---> Aplico la propiedad Color a los elementos contenidos en los siguientes capas (esto principalmente orientado para darle un color a los textos de dichas capas). */
header *,
#index-content-1 * {
  color: white;
}

footer * {
  color: black;
}

/* - Background - */
/* ---> Aplico la propiedad Background en los diferentes elementos tratando de agrupar la mayoria de estos. */
header,
#dropdown-content,
#contact-box a:hover,
#index-content-1,
#index-content-1-item-1 a:hover,
#sub-container-main-head {
  background-image: linear-gradient(
    120deg,
    rgb(99, 156, 255),
    rgb(141, 118, 255),
    rgb(115, 164, 250),
    rgb(157, 138, 252)
  );
  background-size: 400% 400%;
}

#contact-box a {
  background-color: white;
}

/* - Background - Animation - */
/* ---> Haciendo el uso de @keyframes aplico un fondo animado (animation: ) a los distintos elementos tratando de agrupar la mayoría de estos. */
header,
#dropdown-content,
#contact-box a:hover,
#index-content-1,
#index-content-1-item-1 a:hover,
#sub-container-main-head {
  animation: background_animation 20s infinite;
}

@keyframes background_animation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* - Size Of The Boxes, Elements & Selectors - */
/* ---> Aplico la anchura y altura de la mayoria de los elementos. */
#container,
header,
#page-content,
footer,
#logo > a,
nav > ul {
  width: 100%;
}

#container {
  display: grid;
  place-items: center;
}

nav {
  width: 85%;
}

#logo {
  width: 15%;
}

header,
#logo,
#logo > a,
nav,
nav > ul,
nav > ul > li {
  height: 90px;
}

#logo > a > img {
  height: 70%;
}

#dropdown-content {
  width: 300px;
}

footer {
  height: 500px;
}
footer > div {
  height: 370px;
}

#footer-edevaweb img {
  height: 80px;
}

#footer-social-networks > div > a > img {
  height: 20px;
}

footer > div {
  height: 200px;
  width: 15%;
}

#footer-edevaweb {
  width: 40%;
}

#copyright {
  width: 100%;
}

#index-content-1,
#index-content-1 h1 {
  width: 100%;
}

#index-content-1-item-1,
#index-content-1-item-2 {
  width: 40%;
}
#index-content-1-item-3 {
  width: 100%;
}

#index-content-1-item-1 a {
  width: 65%;
}

#index-content-1-item-2 img {
  height: 45vh;
}

#index-content-1-item-3 img {
  height: 13vh;
}

#index-content-2 {
  width: 1200px;
}

.index-content-2-item-1 > h2,
.index-content-2-item-1 > h4 {
  width: 1000px;
}

.index-content-2-item-1 div h5,
.index-content-2-item-1 div p {
  width: 100%;
}

.index-content-2-item-1-subitem {
  width: 300px;
}

.index-content-2-item-2 {
  width: 100%;
}

.index-content-2-item-2-1 {
  width: 700px;
}

.index-content-2-item-2-1 img {
  height: 80px;
}

.index-content-2-item-2-2 {
  width: 350px;
}

.index-content-2-item-2-2 img {
  width: 250px;
}

.index-content-2-item-3-1 {
  width: 100%;
}

.index-content-2-item-3-1 div img {
  height: 120px;
}

#index-content-2-1-size-box-1 {
  width: 580px;
}

#index-content-2-1-size-box-1 img {
  height: 70px;
}

#index-content-2-1-size-box-2 {
  width: 420px;
}

#index-content-2-2-size-box-2 img {
  height: 200px;
  width: 300px;
}

#img-web-a-medida img {
  height: 300px;
}
#index-content-2-item-4 {
  width: 100%;
}
#index-content-2-item-4 img {
  width: 900px;
}

/* - Header Elements CSS - */
/* ---> Aquí aplico el CSS a todos los elementos contenidos en la etiqueta Header. */
header,
nav > ul,
nav > ul > li,
#dropdown:hover #dropdown-content {
  display: flex;
}

header {
  position: sticky;
  top: 0;
}

nav > ul {
  justify-content: right;
  flex-wrap: wrap;
}

nav > ul > li {
  justify-content: center;
  align-items: center;
}

nav a {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}

nav a:hover {
  box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

#contact-box a {
  color: black;
  border-radius: 2rem;
}

#contact-box a:hover {
  color: white;
}

#dropdown {
  position: relative;
}

#dropdown-content {
  display: none;
  position: absolute;
  top: 90px;
  left: -10px;
  box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#dropdown:hover #dropdown-content {
  flex-direction: column;
  animation: background_animation 10s infinite;
}

#logo > a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2rem;
}

/* - Footer Elements CSS - */
/* ---> Aquí aplico el CSS a todos los elementos contenidos en la etiqueta Footer. */
footer {
  border-top: solid black 1px;
  flex-wrap: wrap;
}

footer * {
  text-align: center;
  margin: 0.7rem;
  padding: 0.3rem;
}

footer a {
  display: block;
}

footer a:hover {
  box-shadow: -10px 10px 16px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

footer,
#footer-social-networks > div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#footer-social-networks div > a > img,
#footer-social-networks div > a {
  margin: 0.3rem;
  padding: 1px;
}

#footer-social-networks div > a:hover {
  border-radius: 5px;
}

/* - Page - Content - Index - */
/* ---> Aplico el CSS sobre esta capa y en las etiquetas H2 que esta contenga. */
#page-content-index {
  display: grid;
  place-items: center;
}

#page-content-index h2 {
  font-size: xx-large;
}

/* - Index - Content - 1 - */
/* --->  Aplico CSS sobre los elementos contenidos en la capa con identificador: index-content-1.*/
#index-content-1 {
  flex-wrap: wrap;
}

#index-content-1 h1 {
  margin: 3rem;
  text-align: center;
}

#index-content-1,
#index-content-1-item-1,
#index-content-1-item-2,
#index-content-1-item-3 {
  display: flex;
  justify-content: center;
}

#index-content-1-item-1,
#index-content-1-item-2,
#index-content-1-item-3 {
  margin: 1rem;
  padding: 1rem;
}

#index-content-1-item-1 {
  flex-direction: column;
}

#index-content-1-item-1 p {
  text-align: justify;
  font-size: 1.2em;
  margin-bottom: 3rem;
}

#index-content-1-item-1 a {
  margin-top: auto;
  text-align: center;
  margin-bottom: 8rem;
  border-radius: 2rem;
  background-color: white;
  color: black;
  padding: 1rem;
  font-size: 1.2em;
}

#index-content-1-item-1 a:hover {
  color: white;
}

#index-content-1-item-3 {
  align-items: center;
  gap: 2rem;
}

#index-content-1-item-3 img {
  margin: 2rem;
}

/* - Index - Content - 2 - */
/* --->  Aplico CSS sobre los elementos contenidos en la capa con identificador: index-content-2.*/

#index-content-2 {
  padding: 0.5rem;
  margin: 4rem 1rem;
}

.index-content-2-item-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.index-content-2-item-1 * {
  margin: 0.25rem;
  padding: 0.25rem;
}

.index-content-2-item-1 div h5,
.index-content-2-item-1 div p {
  text-align: center;
}

.index-content-2-item-1-subitem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 0.5rem;
  color: white;
}

.index-content-2-item-color-1 {
  background-color: rgb(74, 255, 216);
  color: black;
}

.index-content-2-item-color-2 {
  background-color: rgb(52, 99, 255);
  color: white;
}

.index-content-2-item-color-3 {
  background-color: rgb(255, 205, 56);
  color: black;
}

.index-content-2-item-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.index-content-2-item-2-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-content-2-item-2-1 * {
  margin: 0.5rem;
}

.index-content-2-item-2-1 span {
  font-weight: bold;
}

.index-content-2-item-2-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-content-2-item-3 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.index-content-2-item-3 h2 {
  text-align: center;
}

.index-content-2-item-3-1 {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.index-content-2-item-3-1 div {
  margin: 1rem;
}

.index-content-2-item-3-1 div img {
  border-radius: 1rem;
}

.index-content-2-item-3-1 div h5 {
  text-align: center;
}

#index-content-2-1-size-box-1 img {
  margin: 1rem;
}

#index-content-2-2-size-box-2 img {
  border: solid 0.1px rgba(0, 0, 0, 0.12);
  margin: 1rem;
}

#img-web-a-medida {
  margin: 1.5rem;
}

#img-web-a-medida img {
  width: auto;
  border: solid 1px rgba(0, 0, 0, 0.326);
}

#index-content-2-item-4 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#index-content-2-item-4 * {
  margin: 1rem;
}
